@mixin flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-evenly {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@mixin flex-column-evenly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
